body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.custom-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #b2ebf2;
    padding: 20px;
    text-align: center;
    color: #006064;
    font-size: 24px;
    font-weight: bold;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}


.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 320px;
    text-align: center;
    margin-top: 100px;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #b2ebf2;
    border-radius: 8px;
}

button {
    background-color: #00bcd4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0097a7;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

label {
    display: block;
    text-align: left;
    margin-left: 5%;
    color: #006064;
    font-weight: bold;
}
