<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket World</title>

    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    

    <!-- Contenedor de categorías -->
    <div class="categories-section">
        <div class="category-card">
            <img src="{% static 'img/categoria_deportes.jpg' %}" alt="Categoría 1">
        </div>
        <div class="category-card">
            <img src="{% static 'img/categoria_musica.jpg' %}" alt="Categoría 2">
        </div>
        <div class="category-card">
            <img src="{% static 'img/categoria_festival.jpg' %}" alt="Categoría 3">
        </div>
        <div class="category-card">
            <img src="{% static 'img/categoria_comedia.jpg' %}" alt="Categoría 4">
        </div>
        <div class="category-card">
            <img src="{% static 'img/categoria_arte.jpg' %}" alt="Categoría 5">
        </div>
        <div class="category-card">
            <img src="{% static 'img/categoria_especial.jpg' %}" alt="Categoría 5">
        </div>
    </div>

    <!-- Botones para mover las categorías -->
    <button onclick="moveCategories(-1)">←</button>
    <button onclick="moveCategories(1)">→</button>

    <!-- Enlace al archivo JavaScript -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
