{% extends "usuarios/base.html" %}
{% load static %}

{% block title %}Mi Perfil{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock %}

{% block content %}
<div class="page-content">
    <h1 class="section-title">Mi Perfil</h1>

    <div class="perfil-layout">
        
        <div class="columna-formulario">
            <div class="tarjeta-perfil">
                <h3>Editar mis Datos</h3>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn-guardar">Guardar Cambios</button>
                </form>
            </div>
        </div>

        <div class="columna-historial">
            <h3>Mi Historial de Compras</h3>
            
            {% if ventas %}
                <div class="lista-ventas">
                    {% for venta in ventas %}
                        <div class="venta-item">
                            <div class="venta-header">
                                <span>Compra #{{ venta.id }}</span>
                                <span class="fecha-venta">{{ venta.fecha_compra|date:"d M Y, H:i" }}h</span>
                            </div>
                            <div class="venta-detalles">
                                <ul>
                                    {% for detalle in venta.detalles.all %}
                                        <li>{{ detalle.cantidad }} x {{ detalle.boleto.nombre_boleto }} ({{ detalle.boleto.evento.nombre }})</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="venta-footer">
                                <span>Total:</span>
                                <strong>${{ venta.total_venta|stringformat:".2f" }}</strong>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="empty-message">Aún no has realizado ninguna compra.</p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}