{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Solicitud Proveedor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Enlace al CSS externo -->
    <link rel="stylesheet" href="{% static 'usuarios/css/formulario_proveedor.css' %}">
</head>
<body>

<div class="form-container">
    <h1>Unete a nosotros </h1>
    <p>Rellena el formulario para enviar tu solicitud. Será revisada por el equipo.</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar Solicitud</button>
    </form>

    <a href="{% url 'usuarios:perfil' %}" class="volver-link">← Volver al perfil</a>
</div>

</body>
</html>
